celluloid==0.2.0
einops==0.7.0
matplotlib==3.7.1
network==0.1
numpy==1.24.3
open3d==0.17.0
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
Pillow==10.1.0
plyfile==1.0.2
PyOpenGL==3.1.7
pytorch_lightning==2.1.2
PyYAML==6.0.1
quaternion==3.5.2.post4
scipy==1.11.4
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
trimesh==4.0.5
vispy==0.14.1
